@import url(http://fonts.useso.com/css?family=Galdeano);
@import url(http://fonts.useso.com/css?family=Electrolize);
@import url(http://fonts.useso.com/css?family=Cuprum);

.keydown.deck-container h1 {
    font-family: Cuprum, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}

.keydown.deck-container .slide .attribution,
.keydown.deck-container h2, .keydown.deck-container h3, .keydown.deck-container h4, .keydown.deck-container h5, .keydown.deck-container p, .keydown.deck-container li {
    font-family: Galdeano, 'Hiragino Sans GB', 'Microsoft YaHei', Trebuchet, 'Trebuchet MS', Tahoma, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.keydown.deck-container .slide.full-background {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.deck-container .slide .CodeMirror pre {
    font-family: Consolas, monospace;
    font-size: 32px;
    line-height: 100%;
}
